html, body {
	height: 100vh;
	min-height: 100vh;
	overflow-y: hidden;
}

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 1fr;
	align-items: center;
	background-color: #EEEEEE;
}

#location {
	grid-column: 1;
	grid-row: 1;
	height: 100%;
	width: 100%;
}

iframe {
	height: 100%;
	width: 100%;
}

#launchForm {
	grid-column: 1
	grid-row: 2;
	text-align: center;
}

#launchButton {
	height: 100%;
}

#launch {
	color: #494949 !important;
	font-family: 'Open Sans';
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	padding: 25px;
	border: 5px solid #494949 !important;
	border-radius: 5px;
	display: inline-block;
	transition: all 0.4s ease 0s;
}

#launch:hover {
	color: #ffffff !important;
	background: #f6b93b;
	border-color: #f6b93b !important;
	transition: all 0.4s ease 0s;
	cursor: pointer;
}

img {
	height: 150px;
	width: auto;
	vertical-align: bottom;
	transition: 0.4s;
}

.grayscale { 
	filter: grayscale(100%);
}